*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 25px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

@keyframes decorationButton{
    0% {top: 0px;}
    100% {top: -5px;}
}

@keyframes decorationButtonBack{
    0% {top: -5px;}
    100% {top: 0px;}
}

@keyframes decorationMenu{
    from{width: 30px; height: 30px; border-radius: 50%;}
    to{width: 70px; height: 40px; border-radius: 7%;}
}

.buttonAnimation{
    position: relative;
    background-color:#05d3aa;
    width: 150px;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;

    animation: decorationButtonBack 0.5s;
    animation-fill-mode: forwards;
}

.buttonAnimation:hover{
    animation: decorationButton 0.5s;
    animation-fill-mode: forwards;
}

.buttonAnimation02{
    position: relative;
    animation: decorationButtonBack 0.5s;
    animation-fill-mode: forwards;
}

.buttonAnimation02:hover{
    animation: decorationButton 0.5s;
    animation-fill-mode: forwards;
}


/* Menu de Contato */

#menuContact{
   background-color: #0e51ac;
   position: sticky;
   top: 0;
   color: white;
   width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   z-index: 1000;
}

#logoMenuContact{
    margin-left: 150px;
}

#rightMenuContact{
    width: 100%;
    display: flex;  
    justify-content: right;
    margin-right: 8vw;
}

.conteinerMenuContact{
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    margin-right: 50px;
}

.contentMenuContact{
    margin-left: 15px;
}

.menuContactText{
    font-size: 0.8rem;
}



/* MENU */

#menuMobile{
    display: none;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}

#menuMobile.activer{
    color:  #05d3aa;
}
#hamburger{
    border-top: 2px solid;
    width: 20px;
}

#hamburger::after, #hamburger::before{
    content: '';
    display: flex;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
}

#menu{
    position: sticky;
    top: 100px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #0e51ac;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

#menu.activer{
    display: flex;
    flex-direction: column;
    right: 0;

    position: fixed;
    width: 300px;
    height: calc(100% - 100px);
    background-color: #191919;
    z-index: 1000;
}

#divDecoration{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
}

#decoration{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #05d3aa;
    padding-left: 12px;
    font-size: 0.8rem;
}

#decoration:hover{
    animation-name: decorationMenu;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.classMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

    position: relative;
    border-radius: 7%;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    z-index: 2;
}

.classMenu::before{
    content: ''; 
    position: absolute;
    background-color:#05d3aa;
    width: 0%;
    height: 100%;
    z-index: -1;
    border-radius: 7%;
    transition: .5s ease;
}

.classMenu:hover::before{
  width: 100%;
}


#divButton{
    display: flex;
    margin-left: 110px;
}

.buttonMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0.1);  
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
    z-index: 2;
}

.buttonMenu::before{
    content: '';
    position: absolute;
    background-color:#05d3aa;
    bottom: 0%;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .4s ease;
}

.buttonMenu:hover::before{
    height: 100%;
}

#priceLink{
    position: relative;
    font-size: 0.8rem;
    margin-left: 20px;
}

#priceLink:hover{
    animation: decorationButton 0.5s;
    animation-fill-mode: forwards;
}

#price{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 150px;
    background-color:#05d3aa;
}

#imgPrice{
    margin-right: 5px;
}



/* INFORMATION */

#information{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.informationContainer{
   display: flex;
   flex-direction: column;
   margin-left: 2vw;
}

.informationTitle{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.informationDecoration{
    background-color: #05d3aa;
    width: 70px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.informationText{
    width: 220px;
    font-size: 18px;
    color: #A6A6A6;
}

.buttonEffect{
    position: relative;
    background-color:#05d3aa;
    width: 150px;
    padding: 10px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 20px;
    
    text-align: center;
    font-size: 0.8rem;

    animation: decorationButtonBack 0.5s;
    animation-fill-mode: forwards;
}

.buttonEffect:hover{
    box-shadow: 6px 6px 20px #999;
    animation: decorationButton 0.5s;
    animation-fill-mode: forwards;
}



/* JOURNEY */

#journey{
    display: flex;
    margin: auto;
    background-image: url(./image/background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 800px;
    border-radius: 5%;
    margin-top: 150px;
    color: white;
    padding: 100px;
}

#journeyContainer{
    width: 450px;
}

#titleJourney{
    font-size: 50px;
    font-weight: bold;
}

#textJourney{
    font-size: 20px;
    margin-top: 15px;
    line-height: 25px;
}

#listJourney{
    margin-top: 50px;
}

.itemlistJourney{
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 5px;
}

.divButtonJourney{
    margin-top: 50px;
}

#settingsButtonJourney{
    padding-left: 30px;
    padding-right: 30px;  
}

#journeyContainer02{
    background-image: url(./image/post_24.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    width: 730px;
    height: 480px;
    border-radius: 5%;    
    margin-left: max(460px, 35vw);
    border-radius: 5%;
    overflow: hidden;
}

#textJourneyConteiner02{
    font-size: 18px;
    background-color: rgba(5, 211, 170, 0.6);
    padding: 20px;
    margin-top: 357px;
}



/* WORK  */

#work{
    margin-top: 100px;
    display: flex;
}

#workContainer{
    background-image: url(./image/post_14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin-left: 10px;
}

#workContainer02{
    margin-left: 70px;
    margin-top: 100px;
    width: 450px;
}

#titleWork{
    font-size: 2rem;
    font-weight: 700;
}

#textWork{
    margin-top: 10px;
    font-size: 20px;
    line-height: 27px
}

#listWork{
    margin-top: 50px;
}

.itemlistWork{
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 5px;
}

#buttonWork{
    margin-top: 50px;
}

#buttonWorkStyle{
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}



/* MISSION */

#decorationDiv{
    background-image: url(./image/img-gray-corner-bottom-left.png);
    width: 200px;
    height: 200px;
}

#mission{
    display: flex;
    justify-content: center;

    border-top-right-radius: 200px;
    background-color: #f1f1f1;
    padding-top: 150px;
    height: 900px;
    z-index: 2;
}

#missionContainer{
    width: 400px;
    margin-right: 50px;
    margin-left: 5px;
}

#missionContainer02{
    width: 400px;
    margin-right: 50px;
}

.missionTitle{
    font-size: 30px;
}

.missionText{
    font-size: 18px;
    margin-top: 25px;
}

#missionContainer03{
    background-image: url(./image/post_28.jpg);
    background-position: center;
    background-size: cover;

    width: 400px;
    height: 400px;
    border-radius: 15px ;
    overflow: hidden;
}

#missionContentImg{
    font-size: 18px;
    color: white;
    margin-top: 277px;
    padding: 20px;
    background-color: rgba(5, 211, 170, 0.6);
}



/* EXPERIENCE */

#decorationBlueUp{
    background-image: url(./image/img-blue-corner-bottom-left.png);
    height: 200px;
    transform: translateY(-340px);
}

#experience{
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: auto auto auto auto;
   
    background-color: #0e51ac;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    color: white;
    transform: translateY(-340px);
    width: 100vw;
    height: 400px;
}

.experienceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ico01{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #05d3aa;;
}

#ico02{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #05d3aa;;
}

#ico03{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #05d3aa;;
}

#ico04{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #05d3aa;;
}

.experienceTitle{
    margin-top: 10px;
    font-size: 25px;
}

.experienceText{
    text-align: center;
    width: 250px;
    margin-top: 10px;
    font-size: 18px;
}

#decorationBlueDown{
    display: inline-block;
    background-image: url(./image/img-blue-corner-bottom-left.png);
    width: 100%;
    height: 200px;
    transform: rotate(180deg);

    position: relative;
    bottom: 340px;
}



/* PROFESSIONALS */

#professionals{
    transform: translateY(-300px);
}

#professionalsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#professionalsTitle{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 20px;
}

#professionalsText{
    text-align: center;
    width: 500px;
    font-size: 18px;
    margin-bottom: 50px;
}

.professionalsContainer02{
    display: flex;
    justify-content: center;

    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: 1s;
}

.animationActive{
    opacity: 1;
    transform: translate3d(0,0,0);
}

.professionalsContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 300px;
    height: 570px;
    margin-right: 10px;
    border-radius: 15px;
}

.professionalsImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

.zoom{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s ;
    transition: all 0.3s;
}

.zoom:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.professionalsDecoration{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 30px;
    width: auto;
    z-index: 2;
}

.professionalsDecorationStyle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #05d3aa;
    padding-left: 12px;
    position: relative;
    left: 15px;
    z-index: -1;
}

.professionalsContentTitle{
    margin-top: 10px;
}

.professionalsContentText{
    margin-top: 20px;
    font-size: 18px;
    width: 70%;
}

.professionalsContact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.professionalsContact a {
    margin-right: 10px;
}



/* CARRER */

#carrer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
}

#carrerContent{
    width: 650px;
}

#carrerContainer02{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #0e51ac;
    margin-top: 50px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

#carrerContent02{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;

    width: 50%;
    height: 300px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

#carrerText{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#carrerDecoration{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #05d3aa;
    position: relative;
    left: 15px;
    z-index: -1;
}

#carrerTitle{
    width: 40vw;
    font-size: 40px;
    margin-top: 20px;
}

#carrerBackground{
    width: 50%;
    height: 300px;
    background-image: url(./image/post_12-1280x640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#decorationBlueDownCarrer{
    background-image: url(./image/img-blue-corner-bottom-left.png);
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
    position: relative;
    z-index: +1;
}



/* CAROUSEL */

.marquee {
    height: 150px;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    margin: 200px auto;
    transform: translateY(-400px);
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -1995px; }
}
  
.marqueeInner {
    display: block;
    width: 3991px;
    margin: 70px 0;
    position: absolute;
    animation: marquee 20s linear infinite;
}
  
.marqueeInner:hover {
    animation-play-state: paused;
}

.contentMarquee {
    float: left;
    width: 50%;
}

.carousel {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 0 24.7px;
    float: left;
    transition: all .2s ease-out;
}
  
.carousel:hover {
   transform: scale(1.2);
    opacity: .5;
    cursor: pointer;
}  



/* HELP */

#help{
    display: flex;
    justify-content: center;
    transform: translateY(-250px);
}

#helpContainer{
    width: 580px;
    height: 940px;
    background-color: #F1F1F1;
    margin-right: 80px;
    border-radius: 15px;
    overflow: hidden;
}

#helpbackground{
    width: 580px;
    height: 380px;
    background-image: url(./image/background02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.helpTitle{
    padding: 30px;
    font-size: 30px;
}

#helpNumber{
    color: #05d3aa;
    font-size: 40px;
    margin-left: 30px;
}

#table{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
}

.tableLine{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #A6A6A6;
    padding: 10px;
}

.tableLineContent01{
    width: 130px;
}

.tableLineContent03{
    width: 50px;
    padding: 3px;
    margin-top: 0px;
    background-color: #0e51ac;
}

#helpContainer02{
    width: 580px;
    height: 940px;
}

#helpDecorationDiv{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

#helpDecoration{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #05d3aa;
    position: relative;
    left: 22px;
    z-index: -1;
}

#helpTitle02{
    font-size: 70px;
}

#helpText{
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.helpForm{
    width: 90%;
    border: none;
    padding: 20px;
    border-bottom: 2px solid #A6A6A6;
    font-size: 16px;
}

.helpForm:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

textarea{
    width: 90%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 50px;
}

textarea:focus{
    outline: 0;
}



/* MAP */

iframe{
    width: 100vw;
    height: 700px;
}

#decorationBlueUpMap{
    background-image: url(./image/img-blue-corner-bottom-left.png);
    height: 200px;
    transform: translateY(-205px);
}

#map{
    transform: translateY(-206px);
}

#mapContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #0e51ac;
    border-bottom-left-radius: 200px;
    color: white;
}

.mapContent{
    margin-left: 60px;
    width: 200px;
    height: 200px;
}

.mapTitle{
    margin-top: 10px;
}

.mapDecoration{
    background-color: #05d3aa;
    width: 70px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.mapText{
    font-size: 18px;
    color: #A6A6A6;
}

#decorationBlueDownMap{
    display: inline-block;
    background-image: url(./image/img-blue-corner-bottom-left.png);
    width: 100%;
    height: 200px;
    transform: rotate(180deg);
    position: relative;
    bottom: 206px;
}



/* CONFIDENCER */

#confidencer{
    display: flex;
    flex-direction: column;
    transform: translateY(-120px);
}

#confidencerDecoration{
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 85px;
    margin-bottom: 20px;
}

#confidencerDecorationStyle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #05d3aa;
    position: relative;
    left: 22px;
    z-index: -1;
}

#confidencerTitle{
    font-size: 60px;
    margin-left: 100px;
    width: 550px;
    margin-bottom: 30px;
}

#confidencerText{
    margin-left: 100px;
    width: 550px;
}

#confidencerContainer02{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.confidencerContent{
    background-color: #dfdbdb;
    width: 550px;
    height: 370px;
    margin-left: 40px;
    padding: 50px;
    border-radius: 15px;
}

.confidencerTitleConteiner02{
    font-size: 30px;
    margin-bottom: 10px;
}


.confidencerTextConteiner02{
    font-size: 18px;
    margin-top: 10px;
}

.confidencerPeople{
    display: flex;
    align-items: center;
}

.confidencerPeopleImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#confidencerPeopleImg01{
    background-image: url(./image/client-01.jpg);
}

#confidencerPeopleImg02{
    background-image: url(./image/client-06.jpg);
}

.confidencerPeopleName{
    margin-left: 20px;
    font-size: 20px;
}



/* Information Links */

#informationLinks{
}

#informationLinksStyle{
    width: 100%;
    height: 10px;
    background-color: #05d3aa;
}

#informationLinksConteiner{
    width: 100%;
    height: 450px;
    background-image: url(./image/post_10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#informationLinksContent{
    width: 100%;
    height: 100%;
    background-color: rgba(14, 81, 172, 0.7);

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;  
    justify-content: center;
}

.informationLinksConteinerDiv{
    width: 250px;
    margin-right: 1vw;
    margin-top: 100px;
    color: white;
}

#informationLinksConteiner01{
    transform: translateY(-35px);
}

.informationLinksConteinerDiv ul li{
    font-size: 18px;
    margin-bottom: 10px;
    list-style: none
}

.liste01 li::before{
    content: '\2022';
    margin: 0 6px;
    color: #05d3aa;
} 

.decorationList{
    display: flex;
    align-items: center;
}

.imgList{
    margin-right: 10px;
}

.informationLinksTitle{
    font-size: 30px;
    margin-bottom: 30px;
}

.informationLinksText{
    font-size: 18px;
}

#informationLinksText01{
    margin-bottom: 30px;
}



/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    height: 100px;
}
  




/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    background-color: #05d3aa;
    border-radius: 50px;
}





/* Redimensionamento */

@media screen and (max-width: 1200px){

   /* menu Contato */

    #logoMenuContact{
        margin-left: 8vw;
    }

    #rightMenuContact{
        margin-right: 0vw;
    }

    .conteinerMenuContact{
        margin-right: 20px;
    }
    
    
    /* Menu */
    .classMenu{  
        margin: 5px;    
    }

    #divButton{
        margin-left: 60px;
    }


    /* INFORMATION */
    .informationText{
        width: 185px;
    }
   

    /* JOURNEY */
    #journey{
        width: 96%;
        padding-left: 40px;
    }


    /* WORK */
    #workContainer{  
        width: 500px;
        height: 500px;
    }
   

    /* MISSION */
    #missionContainer{
        width: 350px;
        margin-right: 20px;
    }
    
    #missionContainer02{
        width: 350px;
        margin-right: 20px;
    }

    .missionText{
        font-size: 15px;
        margin-top: 25px;
    }


    /* EXPERIENCE */
    #experience{
        grid-template-rows: auto auto;
        grid-template-columns: auto auto; 
        height: 600px;
    }

    
    /* PROFESSIONALS */
    .professionalsContainer02{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;  
        grid-column-gap: 18vw;
        grid-row-gap: 50px;
    }


    /* CONFIDENCER */
    .confidencerContent{
        width: 550px;
        height: 390px;
        margin-left: 20px;
        padding: 30px;
    }


    /* INFORMATION LIKS */
    #informationLinksConteiner{
        height: 800px;
    }
    
    #informationLinksContent{
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto auto;  
    }
    
    .informationLinksConteinerDiv{
        margin-right: 2vw;   
    }
  
}



@media screen and (max-width: 992px){
     
    html{
        font-size: 20px;
    }
   

    /* menu Contato */
    #logoMenuContact{
        margin-left: 4vw;
   }
   

    /* Menu */
    #divButton{
        margin-left: 5px;
    }

    #priceLink{
        margin-left: 5px;
    }

    #price{
        width: 125px;
    }


    /* INFORMATION */
    .informationText{
        width: 145px;
    }
   
    .buttonEffect{
        width: 120px;
    }
   
    
    /* JOURNEY */
    #journeyContainer02{
        display: none;
    }


    /* WORK */
    #work{
       flex-direction: column;
       align-items: center;
    }


    /* MISSION */
    #mission{
      flex-direction: column;
      align-items: center;
      height: 1900px;
      padding-top: 50px;
    }

    #missionContainer{
        width: 80%;
        margin-right: 0px;
    }
    
    #missionContainer02{
        width: 80%;
        margin-right: 0px;
    }

    .missionText{
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 100px;
    }

    #missionContainer03{
        width: 90%;
    }


    /* CARRER */
    #carrerContent{
        width: 80vw;
    }

    #carrerTitle{
        font-size: 35px;
    }


    /* HELP */
    #help{
        flex-direction: column;
        align-items: center;
    }

    #helpContainer{
        margin-right: 0px;
    }


    /* MAP */
    #mapContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;  
        grid-column-gap: 18vw;
        height: 450px;
    }

}

@media screen and (max-width: 768px){
 
    html{
        font-size: 25px;
    }


    /* Menu de Contato */
    #menuContact{
        justify-content: space-between;
    }


    /* MENU */
    #menuMobile{
        display: flex;
        margin-right: 30px;
    }

    #rightMenuContact{
        display: none;
    }

    #menu{
        display: none;
    }

    #divButton{
        margin-top: 20px;
    }


    /* INFORMATION */   
    #information{
       flex-direction: column;
       align-items: center;
    }
    
    .informationContainer{
        align-items: center; 
        margin-left: 0px;
        margin-bottom: 40px;
    }
      
    .informationText{     
         width: 60vw;
    }

    .buttonEffect{  
        width: 150px;
    }

    
    /* WORK */
    #workContainer02{
        margin-left: 0px;
        width: 80%
    }


    /* MISSION */
    #decorationDiv{
        transform: translateY(-100px);
    }
    
    #mission{
      
        height: 2100px;
        padding-top: 50px;
        transform: translateY(-101px);
    }

    #missionContentImg{
        font-size: 16px;
        margin-top: 270px;
    }


    /* EXPERIENCE */
    #experience{
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto; 
        height: 1000px;
    }


    /* PROFESSIONALS */
    #professionalsText{
        width: 70vw;
    }
   
    .professionalsContainer02{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto; 
    }


    /* CARRER */
    #carrerContainer02{
        
        height: 600px;
        flex-direction: column;
    }

    #carrerContent02{
        width: 100%;
    }

    #carrerTitle{
        width: 70vw;
    }
    
    #carrerBackground{
        width: 100%;
    }


    /* HELP */
    #helpContainer{
        width: 80vw;
    }

    #helpContainer02{
        width: 80vw;
    }

    #helpTitle02{
        font-size: 50px;
    }
    
    #helpText{
        width: 100%;
    }


    /* MAP */
    #mapContainer{
        grid-template-rows: auto auto auto auto; 
        grid-template-columns: auto;  
        height: 900px; 
    }


    /* CONFIDENCER */
    #confidencerDecoration{
        margin-left: 0px;
    }

    #confidencer{
        align-items: center;
    }

    #confidencerTitle{
        font-size: 40px;
        margin-left: 0px;
        width: 80%;
    }
    
    #confidencerText{
        font-size: 20px;
        margin-left: 0px;
        width: 80%;
    }

    #confidencerContainer02{
        flex-direction: column;
        align-items: center;
    }
   
    .confidencerContent{
        width: 80vw;
        height: 390px;
        margin-left: 0px;
        margin-top: 30px;
    }


    /* INFORMATION LIKS */
    #informationLinksConteiner{
        height: 1350px;
    }
    
    #informationLinksContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .informationLinksConteinerDiv{
        width: 70%;
        margin-right: 0px;
        margin-top: 50px;
    }

}

@media screen and (max-width: 576px){

    /* JOURNEY  */
    #journey{
        width: 100%;
        height: 950px;
        border-radius: 0%;
    }


    /* WORK */
    #workContainer{  
        width: 300px;
        height: 300px;
    }


    /* MISSION */
    #mission{  
        height: 2500px;
    }


    /* HELP */
    #helpContainer{
        width: 95vw;
        height: 940px;
    }

    #helpContainer02{
        width: 90vw;
        height: 940px;
    }


    /* CONFIDENCER */
    .confidencerContent{
        width: 100vw;
        height: 480px;
    }


    /* INFORMATION LIKS */
    #informationLinksConteiner{
        height: 1500px;
    }

}